/* CSS */

.logo {
  background: url(../Assets/Images/Logo/cover.png) center 0 no-repeat;
  background-size: 350px 144px;
  height: 144px;
  margin: 0 auto 26px;
  overflow: hidden;
  text-indent: -9999em;
  width: 236px;
}
