/* CSS */

body {
  background-color: #CBE4F6;
}

.logo {
  background: url(../Assets/Images/Logo/cover.png) center 0 no-repeat;
  background-size: 525px 216px;
  height: 216px;
  margin: 0 auto 26px;
  overflow: hidden;
  text-indent: -9999em;
  width: 236px;
}

.main-title {
  font: 900 32px/40px "Montserrat-light", sans-serif;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
}
